---
const {
    title,
    subtitle,
    description,
    status,
    image,
    github,
    link
} = Astro.props;
---

<div class="card">

    <img src={image} alt={title} />

    <div class="content">

        <h2>{title}</h2>

        <div class="tags">

            {subtitle.split(" • ").map((tag) => (

                <span>{tag}</span>

            ))}

        </div>

        <p>{description}</p>

        <div class="statusLine">

            <span class={`status ${status.toLowerCase().replace(" ", "-")}`}>
                {status}
            </span>

        </div>

        <div class="buttons">

            <a href={link} class="button">
                Read More
            </a>

            <a
                href={github}
                target="_blank"
                class="button secondary">

                GitHub

            </a>

        </div>

    </div>

</div>

<style>

.card{

    display:flex;

    gap:50px;

    align-items:center;

    background:var(--card);

    border:1px solid var(--border);

    border-radius:20px;

    padding:24px 32px;

    margin:30px 0;

    transition:.25s;

}

.card:hover{

    border-color:var(--accent);

    transform:translateY(-4px);

}

.card img{

    width:280px;

    height:180px;

    object-fit:cover;

    border-radius:14px;

    border:2px solid var(--border);

    transition:.3s;

}

.card:hover img{

    border-color:var(--accent);

    transform:scale(1.02);

}

.content{

    flex:1;

}

.content h2{

    margin:0;

    font-size:2rem;

}

.subtitle{

    color:var(--muted);

    margin:18px 0;

    font-size:1rem;

}

.tags{

    display:flex;

    gap:12px;

    flex-wrap:wrap;

    margin:6px 0;

}

.tags span{

    padding:8px 16px;

    background:var(--bg);

    border:1px solid var(--border);

    border-radius:999px;

    font-size:.95rem;

}

.statusLine{

    margin-top:25px;

    font-size:1rem;

}

.status{

    margin-left:12px;
    margin-top:14px;
    padding:8px 16px;

    border-radius:999px;

    font-weight:600;

}

.completed{

    background:#25492d;

    color:#9ef2aa;

}

.in-progress{

    background:#3b2b15;

    color:#ffd66b;

}

.planned{

    background:#1c324d;

    color:#88d4ff;

}

.buttons{

    display:flex;

    gap:18px;

    margin-top:20px;

}

.button{

    text-decoration:none;

    color:var(--text);

    border:2px solid var(--accent);

    border-radius:12px;

    padding:14px 28px;

    transition:.25s;

}

.button:hover{

    transform:translateY(-2px);

}

.button:first-child{

    background:var(--accent);

}

.button:first-child:hover{

    background:var(--accent-hover);

}

.secondary{

    background:transparent;

}

.secondary:hover{

    background:rgba(160,90,255,.15);

}
</style>